<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crowdgain">
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="crowdgain"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <!-- <meta-data
              android:name="com.google.firebase.messaging.default_notification_icon"
              android:resource="@drawable/ic_stat_ic_notification" /> -->
            <!-- <meta-data
              android:name="com.google.firebase.messaging.default_notification_color"
              android:resource="@color/colorAccent" /> -->
            <!-- <service
              android:name=".java.MyFirebaseMessagingService"
              android:exported="false"
              android:directBootAware="true">
              <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
              <action android:name="FLUTTER_NOTIFICATION_CLICK" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
